<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styler.css">
</head>
<body>
	<section>
		<h1>Rock, Paper, Scissors</h1>
		<!--<img src='/images/rps.jpg' width="100%" id='logo'>-->
		<%= yield %>
	</section>
</body>
</html>