<% name = GAME.players[0].name %>
<h2>Welcome <%=name%></h2>

Make your choice...

<p><form action="/play" method="POST">
	<button name="pick" value="Paper">Paper</button>
	<button name="pick" value="Rock">Rock</button>
	<button name="pick" value="Scissors">Scissors</button>
	<input type="hidden" name="name" value=<%=name%>>
</form>






<table width=60%>
<td><img src=<%=image1%>></td>
<td><img src=<%=image2%> style='filter:FlipH'></td>
</table>