<h2>Welcome <%= session[:play]%></h2>

Make your choice...

<p><form action="/play" method="POST">
	<button name="pick" value="Paper">Paper</button>
	<button name="pick" value="Rock">Rock</button>
	<button name="pick" value="Scissors">Scissors</button>
	<input type="hidden" name="name" value=<%=@name%>>
</form>
