/*** generic classes ****/

section {
	margin: 0 auto;
	text-align: center;
}

body {
	width: 60%;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 17px;
	text-align: center;
	margin: 0 auto;
}

h1 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 40px;
	text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc;
	margin: 10px;
}

h2 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 30px;

}

button {
	font-size: 15px;
}

table {

}
img {
	
}

/*** created classes ***/

.left {
	float: left;
}

.right {
	-moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
	float: right;
	}

#welcome {
	width: 20em;
	height: 3em;
	font-size: 80%;
}

#logo {
	width: 100%;
}

background-image: url('/images/rough_wall.jpg');